@media only screen and (max-width : 319px) {
    .container {
        max-width: 319px;
    }
    .header {
        justify-content: space-around;
        align-items: center;
        &__contacts {
            display: none;
        }
        &__official {
            position: absolute;
            bottom: 10px;
            font-size: 12px;
            span {
                font-size: 13px;
            }
        }
        &__logo {
            display: block;
            width: 180px;
        }
        &__hamburger {
            display: block;
            width: 30px;
            height: 18px;
            cursor: pointer;
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 3px;
            }
        }
    }
    .promo {
        position: relative;
        min-height: 400px;
        padding: 2px 0 50px 0;
        background: url(../img/bg_m.png) center (center/cover) no-repeat;
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }
        &__header {
            font-size: 18px;
            line-height: 29px;
        }
        &__subheader {
            margin: 0;
            font-size: 12px;
            line-height: 19px;
        }
        &__icons {
            display: none;
        }
        
        &__link {
            display: none;
        }
    }
    .button {
        &_main {
            width: 240px;
            height: 50px;
            font-size: 14px;
            margin-top: 50px;   
        }
    }
    .advantages {
        padding: 40px 0 20px 0;
        &__subheader {
            margin: 0;
            font-size: 20px;
        }
        &__cards {
            margin: 10px 0 0 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__card {
            margin-top: 20px;
            width: 280px;
            font-size: 14px;
            line-height: 18px;
            i {
                display: block;
                font-size: 50px;
            }
            h3 {
                margin: 5px 0 5px 0;
                font-size: 18px;
                line-height: 29px;
            }
        }
    }
}

@media only screen and (max-width : 575px) {
    
}

@media only screen and (max-width : 767px) {
    
}

@media only screen and (max-width : 991px) {
    
}

@media only screen and (max-width : 1199px) {
    
}

@media only screen and (max-width : 1399px) {
    
}