@media only screen and (max-width : 319px) {
    
    .promo {
        position: relative;
        min-height: 400px;
        padding: 16px 0 10px 0;
        background-image: url(../img/bg.png);
        background-position: -300px 0;
        background-repeat: no-repeat;
        &__wrapper {
            align-items: center;
            margin-top: 56px;
        }
        &__header {
            font-size: 18px;
            line-height: 29px;
        }
        &__subheader {
            margin: 0;
            font-size: 12px;
            line-height: 19px;            
        }
        &__icons {
            display: none;
        }
        &__link {
            display: none;
        }
        &__official {
            margin-top: 100px;
            display: block;
            font-weight: 500;
            font-size: 11px;
            line-height: 17px;
            color: #FFFFFF;
            text-align: center;
            span {
                display: block;
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
    .button {
        &_main {
            margin-top: 50px;
            width: 227px;
            height: 50px;
            font-size: 14px;
        }
    }
    .header {
        margin: 0 28px 0 16px;
        height: 35px;
        &__logo {
            display: block;
            width: 182px;
        }
        &__official {
            display: none;
        }
        &__hamburger {
            margin-bottom: 4px;
            display: block;
            width: 24px;
            height: 18px;
            span {
                display: block;
                width: 24px;
                height: 2px;
                background: #FFFFFF;
                border-radius: 1px;
                margin-top: 4px;
            }
        }
        &__contacts {
            display: none;
        }
    }
    .advantages {
        min-height: 745px;
        padding: 40px 20px;
        .title {
        font-size: 16px;
        line-height: 25px;
        }
        &__cards {
            margin-top: 10px;
            max-width: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__card {
            padding: 20px 10px;
            width: 100%;
            font-size: 12px;
            line-height: 18px;
            i {
                margin-bottom: 10px;
                font-size: 60px;
            }
            h3 {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .consultation {
        min-height: 445px;
        padding: 40px 0 54px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            &_left {
                font-size: 17px;
                line-height: 27px;
                text-align: center;
            }
        }
        &__descr {
            margin-top: 16px;
            text-align: center;
            font-size: 11px;
            line-height: 17px;
        }
        .feed-form {
            display: block;
            margin: 0 auto;
            margin-top: 24px;
            width: 230px;
            input {
                margin-bottom: 5px;
                height: 45px;
                width: 230px;
                font-size: 11px;
            }
            .button {
                &_submit {
                    margin-top: 5px;
                    font-size: 14px;
                    width: 230px;
                    height: 45px;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 100px;
        .title {
            font-size: 14px;
            line-height: 22px;
        }
        &__tabs {
            margin: 0 auto;
            max-width: 300px;
            margin-top: 25px;
        }
        &__tab {
            padding: 0 10px;
            margin: 0 3px;
            width: 100px;
            height: 40px;
            font-weight: 400;
            font-size: 11px;
            line-height: 17px;
            text-align: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        &__content {
            margin: 0 auto;
            margin-top: 30px;
            /* display: none;           don't change it!!!  */
            justify-content: space-around;
            flex-wrap: wrap;
            &_active {
                display: flex; /* and this too don't change */
            }
        }
        &-item {
            padding: 9px;
            width: 152px;
            min-height: 336px;
            /* &__img {
                height: 140px; 
            }*/
            &__subtitle {
                margin-top: 5px;
                font-size: 12px;
            }
            &__descr {
                margin-top: 5px;
                font-size: 9px;
                line-height: 14px;
            }
            &__link {
                margin-top: 5px;
                font-size: 11px;
            }
            hr {
                display: none;
            }
            &__footer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            &__prices {
                text-align: center;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 14px;
            }
            .button {
                &_mini {
                    width: 120px;
                    height: 35px;
                    font-size: 14px;
                }
            }
            &__wrapper {
                /* display: flex; */
                width: calc(200% + 18px);
            }
            &__content {
                padding-right: 9px;
                &_active {
                    margin-right: 0;
                    padding-right: 0;
                } 
            }
            &__list {
                margin-top: 5px;
                padding-right: 9px;
                padding-left: 15px;
                li {
                    font-size: 9px;
                    margin-bottom: 10px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $main-color;
                        left: -14px;
                        top: 4px;
                    }
                }
            }
            &__back {
                transform: translateX(-50%);
                display: block;
                font-size: 11px;
            }
        }
    }
}

//@media only screen and (max-width : 575px)
@media only screen and (min-width : 576px) {
    .header {
        &__hamburger {
            display: none;
        }
    }
}
//@media only screen and (max-width : 767px)
//@media only screen and (max-width : 991px)
//@media only screen and (max-width : 1199px)
@media only screen and (max-width : 1399px) {
    
}