@import 'base/mixins';
@import 'base/variables';


* {
    font-family: 'MuseoModerno', cursive;
}

a {
    text-decoration: none;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';