.button {
    background: $main-color;
    border-radius: 5px;
    width: 153px;
    height: 32px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        margin-top: 20px;
        font-size: 16px;
        width: 300px;
        height: 55px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}