@media only screen and (max-width : 1024px) and (min-width : 765px) {
    .container {
        max-width: 720px;
    }
    .promo {
        min-height: 600px;
        padding: 20px 0 60px 0;    
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 60px;
            width: 400px;
        }
        &__wrapper {
            margin-top: 82px;
        }
        &__icon {
            i {
                margin-bottom: 10px;
                font-size: 40px;
            }
        }
    }
    .advantages {
        min-height: 430px;
        padding: 80px 0;
        &__cards {
            margin-top: 60px;
        }
        &__card {
            width: 215px;
            i {
                margin-bottom: 25px;
                font-size: 60px;
            }
            h3 {
                margin-bottom: 10px;
            }
        }
    }
    .consultation {
        min-height: 550px;
        padding: 80px 0;    
        &__descr {
            margin-top: 5px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .title {
        &_left {
            color: #fff;
            font-size: 32px;
            line-height: 42px;
            text-align: left;
        }
    }
    .feed-form {
        margin-top: 24px;
        width: 300px;
        input {
            height: 50px;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .button {
        &_submit {
            margin-top: 0;
            font-size: 16px;
            width: 300px;
            height: 50px;
        }
        &_mini {
            width: 95px;
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 620px;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
    }
    .catalog {
        padding-bottom: 100px;
        &-item {
            width: 235px;
            &__descr {
                font-size: 12px;
                line-height: 20px;
            }
            li {
                font-size: 12px;
            }
            &__content {
                margin-right: 0;
                padding-right: 20px;
                &_active {
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
            &__list {
                padding-left: 14px;
                padding-right: 20px;
                margin-left: 0;
                &_active {
                    padding-left: 14px;
                    padding-right: 20px;
                    transform: translateX(-100%);
                }
            }
            &__price {
                font-size: 18px;
            }
            &__back {
                transform: translateX(calc(-50% - 6px));
            }
        }
    }
}
@media only screen and (min-width : 765px) {
    .header {
        &__hamburger {
            display: none;
        }
    }
}
@media only screen and (max-width : 850px) and (min-width : 765px) {
    .consultation {
        min-height: 550px;
        padding: 80px 0;    
        &__descr {
            text-align: center;
        }
        .title {
            &_left {
                text-align: center;
            }
        }
        .feed-form {
            width: 300px;
            display: block;
            margin: 0 auto;
            margin-top: 35px;
            input {
                height: 50px;
                width: 100%;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
        .button {
            &_submit {
                margin-top: 0;
                font-size: 16px;
                width: 300px;
                height: 54px;
            }
        }
    }
}