@media only screen and (max-width : 576px) {
    .promo {
        position: relative;
        min-height: 500px;
        padding: 20px 0 10px 0;
        background-image: url(../img/bg.png);
        background-position: -300px 0;
        background-repeat: no-repeat;
        &__wrapper {
            align-items: center;
            margin-top: 120px;
        }
        &__header {
            font-size: 22px;
            line-height: 35px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 12px;
            line-height: 19px;            
        }
        &__icons {
            display: none;
        }
        &__link {
            display: none;
        }
        &__official {
            margin-top: 100px;
            display: block;
            font-weight: 500;
            font-size: 11px;
            line-height: 17px;
            color: #FFFFFF;
            text-align: center;
            span {
                display: block;
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
    .button {
        &_main {
            margin-top: 50px;
            width: 227px;
            height: 50px;
            font-size: 14px;
        }
        &_submit {
            margin-top: 10px;
            font-size: 14px;
            width: 230px;
            height: 45px;
        }
        &_mini {
            width: 90px;
            height: 45px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 20px;
        line-height: 29px;
        &_left {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
        }
    }
    .header {
        margin: 0 28px 0 16px;
        height: 35px;
        &__logo {
            display: block;
            width: 200px;
        }
        &__official {
            display: none;
        }
        &__hamburger {
            width: 30px;
            height: 16px;
            cursor: pointer;
            span {
                display: block;
                width: 30px;
                height: 2px;
                background: #FFFFFF;
                border-radius: 1px;
                margin-bottom: 5px;
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
            }
        }
        &__contacts {
            display: none;
        }
    }
    .advantages {
        min-height: 745px;
        padding: 60px 0;
        &__cards {
            margin: 0 auto;
            margin-top: 25px;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 10px;
            font-size: 60px;
        }
        &__card {
            padding: 10px 0;
            width: 250px;
            font-size: 14px;
            line-height: 18px;
            h3 {
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .consultation {
        min-height: 445px;
        padding: 40px 0 54px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__descr {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 19px;
        }
    }
    .feed-form {
        display: block;
        margin: 0 auto;
        margin-top: 35px;
        width: 230px;
        input {
            margin-bottom: 10px;
            height: 45px;
            width: 230px;
            font-size: 11px;
        }
    }
    .carousel {
        padding: 28px 0;
        &__inner {
            max-width: 100%;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            ul {
                margin: 0 auto;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 33%;
                color: #D0D0D0;
                font-size: 16px;
                line-height: 16px;
                .slick-active {
                    list-style-type: disc;
                    color: $main-color;
                    font-size: 16px;
                    line-height: 16px;
                }
                li {
                    button {
                        display: none;
                    }
                }
            }
            img {
                max-width: 100%;
            }
        }
        .slick-prev {
            display: none;
        }
        .slick-prev, .slick-next {
            display: none;
        }
        .slick-next {
            display: none;
        }
    }
    .catalog {
        padding-bottom: 100px;
        &__tabs {
            margin: 0 auto;
            padding: 0 10px;
            min-width: 300px;
            margin-top: 25px;
        }
        &__tab {
            padding: 0 10px;
            margin: 0 3px;
            max-width: 150px;
            height: 40px;
            font-weight: 400;
            font-size: 11px;
            line-height: 17px;
            text-align: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        &__content {
            margin: 0 auto;
            margin-top: 30px;
            width: 100%;
            /* display: none;           don't change it!!!  */
            justify-content: space-around;
            flex-wrap: wrap;
            &_active {
                display: flex; /* and this too don't change */
            }
        }
        &-item {
            width: 270px;
            min-height: 400px;
            margin-bottom: 10px;
            &__subtitle {
                margin-top: 10px;
                font-size: 18px;
            }
            &__descr {
                margin-top: 10px;
                font-size: 12px;
                line-height: 20px;
            }
            &__link {
                margin-top: 5px;
            }
            hr {
                margin-top: 20px;
            }
            li {
                font-size: 12px;
                margin-bottom: 10px;
            }
            &__content {
                margin-right: 0;
                padding-right: 20px;
                &_active {
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
            &__list {
                padding-left: 14px;
                padding-right: 20px;
                margin-left: 0;
                &_active {
                    padding-left: 14px;
                    padding-right: 20px;
                    transform: translateX(-100%);
                }
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            &__back {
                transform: translateX(calc(-50% - 6px));
            }
        }
    }
    .reviews {
        min-height: 800px;
        &__cards {
            padding: 0 30px;
        }
        &__card {
            margin-bottom: 30px;
        }
        &__avatar {
            width: 50px;
            height: 50px;
            margin-right: 25px;
        }
        &__name {
            font-size: 14px;
        }
        &__marathons {
            font-size: 11px;
        }
        &__comment {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .footer {
        height: 210px;
        iframe {
            display: none;
        }
        &__info {
            width: 100%;
            height: 100%;
            padding: 0;
            padding-top: 30px;
        }
        &__addr {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }
    .modal {
        width: 280px;
        min-height: 300px;
        padding: 20px;
        &__close {
            right: 5px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 11px;
        }
        .feed-form {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            width: 230px;
            input {
                margin-bottom: 5px;
                height: 45px;
                width: 230px;
                font-size: 9px;
            }
        }
    }
}

@media only screen and (max-width : 500px) {
    .catalog {
        &__content {
            max-width: 250px;
        }
    }
}